{% if site.layout == 'stacked' %}
    <div style="margin-top: 11em;">

    <h1 {% if site.style == 'dark' %}class="text-white"{% endif %} style="font-size: 64px;font-weight: 300;z-index: 2;position: relative;">Hello.</h1>

    <br />

    <p class="mb-6 pr-6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
    </p>
    <br />

    <p class="mb-6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
            — S. Nowak
    </p>
    <br class="mb-1" />
    <!-- <div class="d-flex flex-wrap gutter-condensed mb-4">
    eiuhediuwheiduhwe
        <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        sdrgsergsergsergser
        </div>
    </div> -->

    <hr />
    </div>
{% else %}
    <div style="margin-top: 11em;" class="animatedtoptext animatedFadeInUp fadeInUp">

            <h1 {% if site.style == 'dark' %}class="text-white"{% endif %} style="font-size: 64px;font-weight: 300;z-index: 2;position: relative;">Hello.</h1>
        
            <br />
            <hr />
        
            <article style="font-weight: 200; font-size: x-large; -webkit-columns: 2 220px; -moz-columns: 2 220px; columns: 2 220px;" class="mb-6 pr-6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
                <p>
                    Thanks for stopping by.
                </p>
                <p>
                    I'm a developer from London, UK; a freshly-minted, bright-eyed, dewy-faced computer science <a href="https://www.kcl.ac.uk/study/undergraduate/courses/computer-science-msci">undergraduate-and-postgraduate-graduate</a> by means of <a href="https://www.kcl.ac.uk/">King's College London</a>, my sanity, and an <a href="https://www.moneysavingexpert.com/students/repay-post-2012-student-loan/" class="tooltipped tooltipped-multiline tooltipped-se tooltipped-align-right-2 tooltipped-no-delay" aria-label="certainly seems like a sub-optimal way to learn what bubblesort is, in retrospect...">eye-watering amount of government-subsidized debt</a>, et al. 
                </p>
                <p style="font-size: large;">
                    My key language competencies are currently <a href="https://github.com/topics/python">Python</a>, <a href="https://github.com/topics/javascript">JavaScript</a> and <a href="https://github.com/topics/java">Java</a>. I'm currently exploring <a href="https://github.com/topics/kotlin">Kotlin</a>, <a href="https://github.com/topics/rust">Rust</a> and <a href="https://github.com/topics/go">Go</a>. 
                </p>
                <p style="font-size: medium;">
                    I have varying experiences working with NoSQL and RDBMS databases; containerization (Docker, Heroku and Kubernetes); serverless cloud-functions (AWS λ and GCP); modern front-end frameworks (React, Angular, Vue); REST-ful API design and implementation (Node, Flask); monolithic cross-platform app development (React Native, Xamarin, Flutter); creating data pipelines and integrating multiple heterogeneous processes into singular apps via RPC (ZeroRPC, RabbitMQ AMQP); Data science, ML and NLP (SciPy, NumPy, pandas, NLTK, Ludwig, TensorFlow); a little Unix and Linux stuff, and more.
                </p>
                <p style="font-size: large;">
                    In my spare time, I like to think about the effects that software, emerging technologies—and more broadly, technology-culture—are having on our society. 
                </p>
            </article>
            <br />
        
            <p class="mb-6 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
                    — S. Nowak
            </p>
            <br class="mb-1" />
        
            <hr />
            <br />
{% endif %}